<h1 class="text-center mt-4">Edit category name</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
  </div>
    <div class="mb-3">
      <%= link_to "Return to listing page", category_path(@category), class: "text-info row justify-content-center" %>
    </div>
</div>

